<div class="card">
  <div class="card__body">
    <% if question.solution.present? %>
      <%= link_to "#{question.title}（解決済み）", question_path(question.id), class: :card__title, method: :get%>
    <% else %>
      <%= link_to "#{question.title}（回答募集中）", question_path(question.id), class: :card__title, method: :get%>    
    <% end %>
    <p class="card__summary">
      <%= simple_format(question.text) %>
    </p>
    <%= link_to "by #{question.user.nickname}", user_path(question.user.id), class: :card__user, method: :get %>
  </div>
</div>

