<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "ようこそ、#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link, method: :get%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'question', collection: @questions %>
    </div>
  </div>
  <%= link_to(new_question_path, class: 'output-btn') do %>
    <span class='output-btn-text'>質問する</span>
    <%= image_tag 'pen_icon.png' , size: '185x60' ,class: "output-btn-icon" %>
  <% end %>
</main>
