<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規質問</h2>
        <%= render partial: "form", locals: { question: @question } %>
    </div>
  </div>
</div>