<main class="main">
  <div class="inner">
    <%= search_form_for @q, url: search_posts_path, class: "search-form" do |form| %>
      <%= form.search_field :subject_or_title_or_text_cont, placeholder: "タイトル、内容、教科名で検索", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <br>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts %>
    </div>
  </div>
</main>
